<!DOCTYPE html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Handwritten Digit Recognition</title>
    <!--Bootstrap CSS-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--logo-->
    <link rel="icon" href="{{url_for('static', filename='img/logo-icon.svg')}}" type="images/x-ico" />
</head>

<body>
    <div class="container text-center">
        <div>
            <img class="mt-3" src="{{url_for('static', filename='img/logo-icon.svg')}}" width="72">
            <h1 class="h3 mt-3 font-weight-normal">Handwritten Digit Recognition</h1>
        </div>
        <div>
            <input type="range" min="0" max="20" step="1" class="custom-range" id="customRange1" style="width: 200px">
        </div>
        <div class="mt-3">
            <canvas id="canvas" class="img-thumbnail"></canvas>
        </div>
        <div>
            <button class="btn btn-success m-2 font-weight-bold" id="predict">Predict</button>
            <button class="btn btn-warning m-2 font-weight-bold" id="clear">Clear</button>
        </div>
        <div>
            <h3 id="result" class="mt-3 text-primary" style="cursor: pointer;" data-toggle="tooltip" data-placement="bottom"></h3>
        </div>
        <div>
            <p class="mt-5 text-muted">Built using Pytorch, Flask and Bootstrap</p>
        </div>
    </div>
    <!--Bootstrap Js-->
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--Canvas Js-->
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>